@font-face {
	font-family: 'ChunkFiveRoman';
	src: url('https://www.linux.it/shared/?f=fonts/chunkfive-webfont.eot');
	src: url('https://www.linux.it/shared/?f=fonts/chunkfive-webfont.eot?#iefix') format('eot'),
		url('https://www.linux.it/shared/?f=fonts/chunkfive-webfont.woff') format('woff'),
		url('https://www.linux.it/shared/?f=fonts/chunkfive-webfont.ttf') format('truetype'),
		url('https://www.linux.it/shared/?f=fonts/chunkfive-webfont.svg#webfontuv9inY7y') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Junction';
	src: url('https://www.linux.it/shared/?f=fonts/Junction-regular-webfont.eot');
	src: url('https://www.linux.it/shared/?f=fonts/Junction-regular-webfont.eot?#iefix') format('eot'),
		url('https://www.linux.it/shared/?f=fonts/Junction-regular-webfont.woff') format('woff'),
		url('https://www.linux.it/shared/?f=fonts/Junction-regular-webfont.ttf') format('truetype'),
		url('https://www.linux.it/shared/?f=fonts/Junction-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Junction, sans-serif;
	font-size:.8em;
	margin:0;
	padding:0;
	line-height:1.5em;
	letter-spacing:.05em;
	color:#444;
}

a {
	color:#000;
	text-decoration:underline;
	-webkit-text-decoration-color:#ffa200;
	text-decoration-color:#ffa200;
}

a:hover {
	color:#ffa200;
}

#header {
	position:relative;
	padding:40px 50px;
	background:url('https://www.linux.it/shared/?f=immagini/hbkg.png') bottom center repeat-x #dbdbdb;
	text-align:left;
	border-bottom:10px solid #444;
}

#header #maintitle {
	position:absolute;
	top:40px;
	left:140px;
	font:4em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color:#444;
}

#header #payoff {
	position:absolute;
	top:100px;
	left:140px;
	color:#888;
	font-size:1.2em;
	font-style:italic;
}

.clear_spacer {
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
	line-height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
}

.intro {
	padding: 20px;
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 0.9em;
}

.closed {
	padding: 20px;
	border-radius: 5px;
	display: table;
	width: 100%;
}

.closed p {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.closed img {
	float: left;
	padding-right: 10px;
}

.historic {
	margin-top: 30px;
	margin-bottom: 20px;
}

.historic h2 {
	float: left;
	font-size: 3em;
	line-height: 1em;
	width: 50%;
}

.historic h2 span {
	display: block;
	font-size: 20px;
}

.historic .status {
	float: left;
	width: 55%;
}

.sums {
	font-family: monospace sans-serif;
}

.sums p {
	text-align: right;
	margin-bottom: 20px;
}

.sums b {
	font-size: 4em;
	display: block;
}

.sums span {
	display: block;
	font-size: 1.3em;
}

.action li {
	margin-bottom: 20px;
}

.contacts {
	margin-top: 30px;
	margin-bottom: 30px;
}

hr {
	clear: both;
	margin-top: 25px;
	margin-bottom: 25px;
}

#introTabel {
	width: 800px;
	margin: 30px auto;
	border: 0px;
}

#introTabel .column {
	vertical-align: middle;
	float: left;
	margin: 10px;
}

#introTabel .descrizione {
	width: 25%;
}

#introTabel .mappa {
	width: 40%;
}

#introTabel .regioni {
	width: 25%;
}

#italymap {
	border: 0px;
}

#map {
	position: absolute;
	bottom: 0px;
	top: 169px;
	display: block;
	width: 100%;
}

#center {
	max-width: 1280px;
	margin: 0 auto;
}

#infographs {
	margin-top: 30px;
	width: 100%;
}

#infographs div {
	display: inline-block;
	width: 49%;
}

#infographs img {
	max-width: 100%;
}

#lugListTable th, #lugListTable td {
	padding: 1em;
	text-align: center;
	border: 0;
}

#lugListTable td.province {
	font-weight: bold;
	text-align: left;
}

#lugListTable td.contactUrl a {
	font-weight: bold;
}

#lugListTable td.contactUrl {
	text-align: right;
}

#lugListTable {
	border-collapse:collapse;
	width:100%;
}

#lugListTable thead, #lugListTable tfoot {
	background-color: #FFA200;
	color: #fff;
}

#lugListTable tr.row_0 td {
	background-color: #eee;
}

#lugListTable tr.row_1 td {
	background-color: #ddd;
}

#lugListTable tr.row_special td {
	border: 0px;
	background-color: #fff;
}

#title {
	color: #888888;
	font: 1.2em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	text-align: center;
}

.cta-button {
	display: flex;
	justify-content: center;
	cursor: pointer;
	cursor: hand;
	box-sizing: border-box;
	padding: 25px 50px;
	margin: 50px auto;
	border-radius: 50px;
	background-color: #ffc928;
	color: #333 !important;
	text-transform: uppercase;
	width: 60%;
	box-shadow: 0 0 15px #444;
	text-align: center;
}

.menu {
	position:absolute;
	top:55px;
	right:50px;
	font:1.2em ChunkFiveRoman,Helvetica,Arial,sans-serif;
	color:#888;
}

.menu a {
	color:#444;
	font-weight:normal;
	padding:2px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration:none;
	border:0;
}

.menu img {
	display: inline;
}

.menu a:hover {
	background-color:#ffa200;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
	border:0;
}

.menu .social {
	text-align: right;
}

.menu .social img {
    height: 35px;
    background-color: #FFF;
    padding: 5px;
}

.main-contents {
	font-size: 1.2em;
	line-height: 1.5;
}

.highlight-box {
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    background-color: #ffc928;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3em;
}

.promoters {
    padding: 20px;
    border-right: 1px solid rgba(0,0,0,.1);
}

.promoters a {
    border-bottom: 0;
    display: block;
}

.banner {
	padding: 10px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	margin: 10px
}

#ils_footer {
        background: none repeat scroll 0 0 #292929;
        color: rgba(255, 255, 255, 0.65);
        display: block;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 0.857em;
        line-height: 1.5;
        padding: 35px 5px 30px;
}

#ils_footer h2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        border-color: rgba(255, 255, 255, 0.15);
        font-size: 1em;
        margin: 1em 0 0.5em;
        padding-bottom: 3px;
        text-transform: uppercase;
}

#ils_footer img {
        display: inline-block;
}

#ils_footer a {
        color: #FFFFFF;
	border: 0;
}

.helpMessage {
	font-style: italic;
}

.spaced-list li {
	margin-top: 20px;
}

.regioni {
	font-size:.8em;
	background-color:#aaa;
	padding:10px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.regioni a {
	display:block;
	background-color:#dbdbdb;
	padding:0px 6px;
	border-bottom:1px dotted #aaa;
}

.regioni a:hover {
	color:#fff;
	background-color:#ffa200;
}

.regioni br {
	display:none;
}

#holder {
	height: 480px;
	left: 50%;
	margin: -240px 0 0 -320px;
}

#paper {
	height: 400px;
	width: 400px;
	overflow:hidden;
}

.mapoverlay {
	position: absolute;
	top: 179px;
	width: 20%;
	z-index: 200;
	background-color: rgba(255,255,255,0.7);
}

.trap {
	display: none;
}

.form-text {
	width: 99%;
}

.mono {
	font-family: monospace sans-serif;
	font-size: 0.9em;
}

@media only screen and (max-width: 767px) {
	#header {
		padding: 20px;
	}

	#header #maintitle {
		top: 30px;
		left: 100px;
		font-size: 3em;
	}

	#header #payoff {
		display: none;
	}

	.menu {
		position: static;
		margin-top: 16px;
	}

	#introTabel {
		width: 100%;
	}

	#introTabel .descrizione, #introTabel .regioni {
		width: auto;
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}

	#lugListTable {
		margin-bottom: 20px;
	}

	#lugListTable th, #lugListTable td {
		padding: 1em 0.3em;
	}
}
