---
title: App Wikimedia Commons
---

<a href="https://commons.wikimedia.org/" rel="nofollow">Wikimedia Commons</a> è come Wikipedia, ma per le immagini: qui si trovano migliaia di foto, disegni e riproduzioni, tutte fruibili con licenza libera. Uno dei metodi più comodi e veloci per contribuire ad arricchire questo patrimonio visivo è per mezzo dell'<a href="https://commons-app.github.io/" rel="nofollow">apposita app</a>, con la quale è possibile non solo caricare e categorizzare facilmente le proprie foto scattate con lo smartphone, ma anche esplorare la mappa alla ricerca dei soggetti enciclopedici presenti su Wikipedia che ancora non hanno una immagine.
