---
title: Traduzioni Online
---

Tra i più citati modi per partecipare attivamente al software libero viene citato quello delle traduzioni, che permettono di rendere accessibili le applicazioni ad un pubblico sempre più esteso aggirando il problema della lingua nativa, ma non è sempre chiaro come attuare tale proposito. Fortunatamente esistono piattaforme web che facilitano questo compito, permettendo di agire per mezzo di una comoda interfaccia web: tra questi <a href="https://hosted.weblate.org/projects/" rel="nofollow">Weblate</a> e <a href="https://translatewiki.net/" rel="nofollow">TranslateWiki</a>, presso cui sono ospitati diversi progetti. Per contribuire utilizzando strumenti più sofisticati, si possono consultare le <a href="/italiano">community italiane</a> di traduzione dei progetti più popolari.
